<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<script src="js/scr.js"></script>

<div class="container">
    <div id="searchform" style=" margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">SmartValue-Test</div>
            </div>

            <div style="padding-top:30px" class="panel-body" >

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                        <input id="code" type="text" class="form-control" name="code" value="" placeholder="Country code (2,3 letters)" maxlength="3">
                    </div>

                    <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-12 controls">
                            <button id="btn-submit" class="btn btn-success">GetDetails  </button>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div id="resultform" style="display:none; margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">SmartValue-Test</div>
            </div>

            <div style="padding-top:30px" class="panel-body" >

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><label for="prefix">Country prefix</label></span>
                        <input id="prefix" type="text" class="form-control" name="prefix" value="" placeholder="prefix" disabled="disabled">
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><label for="prefix">Country name</label></span>
                        <input id="name" type="text" class="form-control" name="name" value="" placeholder="name" disabled="disabled">
                    </div>

                    <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-12 controls">
                            <button id="btn-back" class="btn btn-success">Back to search  </button>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    </div>
</div>
    